body {
    background: azure;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 22;
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
     transition:all 3s ease;
}
input[type=button]{
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
     transition:all 3s ease;
}
 div, table{
    background-color: cadetblue;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 4px;
    width: 470px;
    transition: all 3s linear;
     max-width: 100%
}

p {
    background-color: cadetblue;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 4px;     
    transition: all 3s ease-out;
    
}



td {
    padding: 5px;
    transition:all 3s ease;
}

@media only screen and (max-width: 500px) {
    table {
        width: 100%;
    }
    div {
        width: 100%;
    }
}

span {
 text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 4px;
    width: 470px;
    transition: all 3s linear;
     max-width: 100%s
}

#plane {
    width: 10px;
    height: 10px;
    padding-bottom: 40px;
    text-align: center;
    background-color: azure;
    position: relative;

    animation-name: frames;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-duration: 12s;
}


@keyframes frames {
    0%   { left: -200px;top: -40px; transform: rotate(0deg);}
    40%  {transform: rotate(0deg);}
    50%  { left: 200px;top: 0px; transform: rotate(180deg);}
    90%   { transform: rotate(180deg);}
    100% { left: -200px; top:-40px;transform: rotate(360deg);}
    }